#images {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;

  
}
.first-image {
  object-fit: contain;
   width: 1200px;
   height: 10000px;
  background: url(images/poppa_harmonic_collection.png) no-repeat;
  
}

.second-image {

  background: url(images/dad_harmoniccollection_blue.png) no-repeat;
}